extends ../layout/index


block contents
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        p.py-2.px-5.rounde-lg.w-full (class= error ? 'bg-red-500' : 'bg-green-500')= message